@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation fixer for industries section */
.card-container {
  position: relative;
  transition: width 1100ms ease;
  overflow: hidden;
}

.card-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: width 1100ms ease, right 1100ms ease;
  object-fit: cover;
}

.card-content {
  position: absolute;
  left: 0;
  width: 66.66%; /* 2/3 of the card */
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* font */
input,
textarea,
select,
button {
  font-family: "Poppins", sans-serif;
}

/* line bg */

.container-design-mursalin {
  width: 100%;
  height: 100%;
  --color: #f8f5f5;
  background-color: #ffffff;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 140px 140px;
}
